<form class="form-group" action="/users/register" method="post">
	
	<!-- username -->
	<div class="form-group row">
	  <label for="example-text-input" class="col-2 col-form-label">username</label>
	  <div class="col-3">
	    <input class="form-control" type="text" id="example-text-input" name="user[username]">
	  </div>
	</div>

	<!-- first_name -->
	<div class="form-group row">
	  <label for="example-text-input" class="col-2 col-form-label">first name</label>
	  <div class="col-3">
	    <input class="form-control" type="text" id="example-text-input" name="user[first_name]">
	  </div>
	</div>

	<!-- password -->
	<div class="form-group row">
	  <label for="example-password-input" class="col-2 col-form-label">password</label>
	  <div class="col-3">
	    <input class="form-control" type="password" id="example-password-input" name="user[password]">
	  </div>
	</div>

	<!-- email -->
	<div class="form-group row">
	  <label for="example-email-input" class="col-2 col-form-label">email</label>
	  <div class="col-3">
	    <input class="form-control" type="email" id="example-email-input" name="user[email]">
	  </div>
	</div>

	<!-- submit -->
	<button type="submit">sign up</button>

</form>