<h2>do you want to login with Facebook and remember your stats and whatever awesome cool features I can think of by the end of the day?</h2>

<div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"></div>

<h2>or just want to mooch as a guest?</h2>
<p>I will stay as <a href="/game">guest</a> but I know I am missing out.</p>